body {
    background: #111;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.video-wrapper {
    position: relative;
    width: 90%;
    max-width: 800px;
}

.video-wrapper iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
}

/* Fullscreen gomb */
#fullscreenBtn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 25px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

#fullscreenBtn:hover {
    background: rgba(0,0,0,0.8);
}